textarea {
  width: -webkit-fill-available;
  font-family: monospace;
  font-size: 16px;
  padding: 10px;
  margin-bottom: 15px;
}

button {
  display: block;
  width: -webkit-fill-available;
  font-size: 18px;
}