textarea {
    width: 100%;
    font-family: monospace;
    font-size: 16px;
    padding: 10px;
    margin-bottom: 15px;
  }
  
  button {
    display: block;
    width: 100%;
    font-size: 18px;
  }